$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$pacifico: 'Pacifico', cursive;
$green-color: #1dde85;
$gray-color: #454546;
$dark-gray-color: #a8a7a3;
$uppercase: uppercase;
$placeholder-color: #fffcf4;
$border-form: 1px solid #b2b3b4;
$white-color: #fff;